.btn-risky {
  background-color: $risky;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px;
  &:hover {
    transition: 0.5s;
    background-color: $risky-dark;
  }
}

.btn-orange {
  background-color: $orange;
  cursor: pointer;
  border-radius: 0.25em;
  padding: 4px;
  font-size: 10px;
  box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 0.625em 1.1em;
  &:hover {
    transition: 0.5s;
    background-color: $intermediate
  }
}

.btn-large {
  font-size: 22px;
  padding: 10px;
}

