.card-odd {
  position: relative;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid $salmon;
  width: 300px;
  .match {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 4px;
  }
  .date {
    text-align: center;
    margin-top: 4px;
  }
  .card-odd-detail {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    .team {
      height: 18px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .risk, .safe, .intermediate {
      font-size: 2rem;
    }
    .risk {
      color: $risky;
    }
    .safe {
      color: $safe
    }
    .intermediate {
      color: $intermediate
    }
  }
  .clickable {
    border-radius: 8px;
    padding: 2px;
    &:hover {
      background-color: rgb(224, 224, 224);
    }
  }
}

.card-country {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 100px;
  border-radius: 15px;
  font-size: 24px;
  a {
    color: $black;
    text-shadow: 2px 2px 2px white;
    border-radius: inherit;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.active-odd {
  background-color: $salmon;
  border-radius: 8px;
  border: $green-dark;
}

.card-stat {
  padding: 4px;
  width: 150px;
  margin: 4px;
  border-radius: 8px;
  text-align: center;
  border: 1px black solid;
  background-color: rgba(250,250,250,0.8);
  .title {
    font-weight: 700;
  }
  .content {
    margin-top: 4px;
    font-size: 2rem;
  }
}

.card-bet {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 8px;
  background: linear-gradient(rgba(250,250,250, 0.8), rgba(250,250,250, 0.8));
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}

.card-result {
  border-top: 3px solid $grey;
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 10;
  font-size: 32px;
}

.card-color {
  height: 20px;
  width: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.card-graph {
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  margin: 20px 10px;
}

.card-resume-stats {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  margin: 8px;
  background: linear-gradient(rgba(250,250,250, 0.8), rgba(250,250,250, 0.8));
  max-width: 500px;
}

@media(min-width: 550px) {
  .card-resume-stats {
    min-width: 500px;
  }
}