.clickable {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.link {
  background-color: gray;
  font-weight: 700;
  font-size: 18px;
  width: fit-content;
  padding: 2px 4px;
  border-radius: 4px;
}