nav {
  color: $white-gray;
  background-color: rgba($orange, 1);
  width: 100%;
  overflow-x: hidden;
  line-height: 56px;
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  .brand {
    color: black;
    transition: background-color .3s;
    font-family: $font-logo;
    font-size: 32px;
    height: 100%;
    padding: 0 15px;
  }
  a {
    transition: background-color .3s;
    font-size: 1rem;
    display: block;
    padding: 0 15px;
    cursor: pointer;
  }
  .navbar-links ul {
    margin: 0;
    display: flex;
    padding: 0;
  }
  .navbar-links li {
    list-style: none;
  }
  .toggle-button {
    position: absolute;
    cursor: pointer;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
    .bar {
      height: 3px;
      width: 100%;
      background-color: black;
      border-radius: 10px;
    }
  }
}

@media (max-width: 800px) {
  nav {
    .toggle-button {
      display: flex;
    }
    .navbar-links {
      display: none;
      background-color: grey;
      width: 100%;
    }
    .active {
      display: flex;
    }
    .nav-wrapper {
      flex-direction: column;
      align-items: flex-start;
    }
    .navbar-links ul {
      flex-direction: column;
      width: 100%;
    }
    .navbar-links li {
      line-height: 20px;
      border: 1px solid black;
      text-align: center;
      a {
        padding: .5rem 1rem;
      }
    }

  }
}