table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px;
  overflow: hidden;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid $orange;
}

.sortable {
  cursor: pointer;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid $orange;
  text-align: center;
}

.start {
  text-align: start !important;
}

th[data-title]{
  position: relative;
  &:hover:after{
    font-size: 1rem;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 2em;
    padding: 2px;
    content:  attr(data-title);
    background-color: white;
    width: fit-content;
    text-align: center;
  }
}

@media (max-width: 660px) {
  .table td, .table th {
    padding: .25rem;
    font-size: 10px;
  }
}