$green-dark: #2c6e49;
$green-light: #4c956c;
$white-gray: #fefee3;
$salmon: #ffc9b9;
$orange: #d68c45;
$risky: #bc4b51;
$risky-dark: #a14146;
$safe: #5b8e7d;
$intermediate: #f4a259;
$black: #132a13;
$grey: #e5e5e5;

// Ghost page 404
$white-ghost: #EDEDED;
$gray-ghost: #BFC0C0;
$dark-ghost: #585959;
$light-ghost: #D3DEEA;

.risky {
  color: $risky;
}

.safe {
  color: $safe;
}

.intermediate {
  color: $intermediate;
}

.green-dark {
  color: $green-dark;
}

.text-dark-ghost {
  color: $dark-ghost
}

.text-gray-ghost {
  color: $gray-ghost
}

.bg-gray-ghost {
  background-color: $gray-ghost
}

.bg-white-gray {
  background-color: $white-gray;
}

.bg-white {
  background-color: #fff;
}