.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center
}

.align-self-center {
  align-self: center;
}