@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato|Nanum+Pen+Script');

$font-logo: "Allerta Stencil";
$ghost-text-title: "Abril Fatface";
$ghost-text: "Lato";
$comment-text: "Nanum Pen Script";

h1 {
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-orange {
  color: $orange;
}

.text-risky {
  color: $risky;
}

.text-green-dark {
  color: $green-dark;
}

.bold {
  font-weight: 700;
}

.text-ghost-title {
  font-family: $ghost-text-title;
  font-size: 52px;
  color: $white-ghost;
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 $gray-ghost, 0 1px $gray-ghost, 1px 0 $gray-ghost, 0 -1px $gray-ghost;
}

.text-ghost {
  font-family: $ghost-text;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-top: -20px;
  font-weight: 900;
}

.text-comment {
  font-family: $comment-text;
  font-size: 24px;
}

.text-font-logo {
  font-family: $font-logo;
  font-size: 48px;
}

.text-align-center {
  text-align: center;
}

.font-size-12px {
  font-size: 12px;
}